<p>Hi <%= @requestor.fname.capitalize %>,</p>

<p>Your teammate, <%= @recipient.fname.capitalize %> <%= @recipient.lname.capitalize %>, has kicked off a warm introduction between you/your company and their contact, <%= @contact.fname.capitalize %> <%= @contact.lname.capitalize %>. You should receive an email shortly.

<p>Cheers,<br>
The Bridgekin Team</p>