<p>Hi <%= @requestor.fname.capitalize %>,</p>

<p>Your teammate, <%= @recipient.fname.capitalize %> <%= @recipient.lname.capitalize %>, has kicked off a warm introduction with their contact, <%= @contact.fname.capitalize %> <%= @contact.lname.capitalize %>. Hopefully, they’ll be able to intro you soon!</p>

<p>Cheers,<br>
The Bridgekin Team</p>