<p>Hi <%= @recipient.fname.capitalize %>,</p>

<p><%= @requestor.fname.capitalize%> is requesting an introduction to <%= @contact.fname.capitalize || ""%> <%= @contact.lname.capitalize || ""%>.</p>

<% if @sales_intro.message.present? %>
  <p><%= @sales_intro.message %></p>
<% end %>

<% if @sales_intro.explaination.present? %>
  <p><%= @sales_intro.explaination %></p>
<% end %>

<p>Click <%= link_to 'here', "#{root_url}sales/respond_to_intro/#{@sales_intro.id}" %> to respond!</p>

<p>Cheers,<br>
The Bridgekin Team</p>
