<p>Hi <%= @fname.capitalize %>,</p>

<% if @sales_invite.relationship == "give" %>
  <p><%= @current_user.fname.capitalize %> <%= @current_user.lname.capitalize %> is granting access to their contacts on Bridgekin, where you’ll be able to search and request warm introductions from contacts from them directly.</p>
<% elsif @sales_invite.relationship == "request" %>
  <p><%= @current_user.fname.capitalize %> <%= @current_user.lname.capitalize %> is requesting access to your social contacts. Then, they will be able to search and request warm introductions from you directly.</p>
<% else %>
  <p><%= @current_user.fname.capitalize %> <%= @current_user.lname.capitalize %> is both granting access to their contacts and requesting access to your contacts on Bridgekin. You’ll be able to upload your own contacts, as well as search and request warm introductions from them directly.</p>
<% end %>

<% if @recipient.present? %>
  <p>Click <%= link_to 'here', "#{root_url}api/confirm_sales_invite?code=#{@sales_invite.link_code}" %> to confirm your access!</p>
<% else %>
  <p>Click <%= link_to 'here', "#{root_url}sales/login/signup?code=#{@sales_invite.link_code}" %> to get started!</p>
<% end %>

<p>Cheers,<br>
The Bridgekin Team</p>