<p>Hi Joe,</p>

<p>A user has been referred into Bridgekin</p>

<p>Details:<br>
  Person who submitted referral: <%= @user.fname.capitalize %> <%= @user.lname.capitalize %>.<br>
  Waitlist User: <%= @waitlist_user.fname.capitalize %> <%= @waitlist_user.lname.capitalize %>.<br>
  Did the waitlist user exist already? <%= @alreadyExists %></p>

<p>Cheers,<br>
The Bridgekin Team (A.K.A. Frosty Crew)</p>
